<%= content_for :page_header do %>
  <h2>Businesses</h2>
<% end %>
<table class="table">
  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= image_tag(business["logo"]) %></td>
        <td><%= link_to(business["name"], business_path(id: business['name'], query: business['domain']))%></td>
      </tr>
    <% end %>
  </tbody>
</table>
